body {
    padding: 0;
    margin: 0;
    font-weight: 700;
}

#container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
    height: 100vh;
}

header {
    background-color: rgb(255, 255, 255);
    grid-column: 2 / 3;
    box-shadow: 2px 3px 5px 0px rgb(213, 207, 207);
    z-index: 2;
    display: grid;
    grid-template: 1fr 1fr / repeat(20, 1fr);
    align-items: center;
}

header > svg:first-child {
    width: 2rem;
    justify-self: center;
}

#searchbar {
    border-radius: 20px;
    grid-column: 2 / 13;
    height: 35%;
    background-color: rgb(229, 236, 245);
}

header > svg:nth-child(3) {
    width: 2rem;
    justify-self: center;
    grid-column: 16 / 17;
}

header > img:nth-child(4) {
    width: 3rem;
    grid-column: 17 / 18;
}

#name {
    grid-column: 18 / 20;
    font-size: 1.75rem;
    justify-self: center;
}

header > img:nth-child(6) {
    width: 4.5rem;
    grid-area: 2 / 1 / 2 / 3;
    justify-self: end;
}

#greeting {
    grid-area: 2 / 3 / 2 / 8;
    justify-self: end;
}

#greeting > div:last-child {
    font-size: 2rem;
}

header > button {
    justify-self: end;
    color: white;
    width: 6rem;
    height: 2.5rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(30, 123, 173);
}

#new {
    grid-area: 2 / 14 / 2 / 16;
}

#upload {
    grid-area: 2 / 16 / 2 / 18;
}

#share {
    grid-area: 2 / 18 / 2 / 20;
}

#sidebar {
    background-color: rgb(30, 123, 173);
    grid-column: 1;
    grid-row: 1 / 3;
    padding: 2rem;
    display: grid;
    grid-template: 3% repeat(auto-fit, 35%) / 1fr;
    gap: 3rem;
    color: white;
    font-size: 1.3rem;
    font-family: helvetica;
}

#group1, #group2 {
    display: grid;
    grid-template: repeat(auto-fit, 3.5rem) / 1fr;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .50rem;
}

#logo > svg {
    width: 3.5rem;
}

#group1 svg, #group2 svg {
    width: 2rem;
}

#group1 > div, #group2 > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#sidebar svg {
    fill: white;
}

main {
    background-color: rgb(229, 236, 245);
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

div#announcements {
    grid-area: 1 / 2 / 1 / 3;
    margin-bottom: 0;
}

div#trending {
    grid-area: 2 / 2 / 2 / 3;
    margin-top: 0;
}

#announcements, #trending {
    display: grid;
    grid-template: 2rem 1fr / 1fr;
    margin: 1rem;
    font-size: 1.75rem;
}

#announcements > div:first-child, #trending > div:first-child {
    grid-area: 1 / 1 / 1 / 2;
    margin-left: 3rem;
}

#anncontainer, #trendcontainer {
    margin: 1rem 3rem 2rem 3rem;
    border-radius: 10px;
    box-shadow: 2px 1px 3px 0px rgb(241, 238, 238);
    background-color: white;
}

#projects {
    grid-row: 1 / 3;
    margin: 1rem 0rem 2rem 3rem;
    font-size: 1.75rem;
    display: grid;
    grid-template: 2rem 1fr / 1fr;
}

#projectscontainer {
    grid-area: 2 / 1 / 3 / 1;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

.card {
    background-color: white;
    margin: 1rem;
    border-radius: 10px;
}

